<p id="notice"><%= notice %></p>

<p>
ATENCIÓN: Solo debe haber un registro de este modelo, el número se incrementa cuando se crea un nuevo ticket
 Por el momento solo sirve para llevar una numeración, no es un índice de búsqueda. 
</p>
<h1>Folios</h1>

<div class="client-index">
  <table>
    <thead>
      <tr>
        <th>Numero folio</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @folios.each do |folio| %>
        <tr>
          <td><%= folio.numero_folio %></td>

          <td><%= link_to 'Edit', edit_folio_path(folio) %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>

